@import url('https://fonts.googleapis.com/css?family=Rubik:500&display=swap&subset=cyrillic');

*{
  background: #BEBEBE;
  font-family: 'Rubik', ;
  font-style: normal;
  font-size: 14px;;
  margin: 0;
  padding: 0;
}

.neu-button{
  transform: translate(50%,50%);
  border: none;
  color: #4A6080;
  padding: 0 1rem 0 1rem;
  line-height: 2rem;
  background: #E0E5EC;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.5), -9px -9px 16px rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}

.neu-button:hover{
  box-shadow: inset 1px 1px 4px rgba(163, 177, 198, 0.5), inset -1px -1px 4px rgba(255, 255, 255, 0.5), 9px 9px 16px rgba(163, 177, 198, 0.5), -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.header{
  padding: 1% 10% 1% 12%;
  vertical-align: middle;
  display: flex;
}

.nav{
  margin-left: .7em;
  padding-top: .7em;
}

.nav-menu{
  display: flex;
  li{
    display: table-cell;
    vertical-align: middle;
    margin-left: 4em;
    list-style: none;
    box-sizing: content-box;
    text-align: center;
    line-height: 1.5rem;
  }
}

.nav,.logo{
  display: inline-block;
}

.nav, .logo, .header, svg, li{
  background: #DEE8F1;
}

#components-layout-demo-fixed .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}