@import url('https://fonts.googleapis.com/css?family=Rubik:500&display=swap&subset=cyrillic');
@import '~antd/dist/antd.css';

*{
  font-family: 'Rubik', ;
  font-style: normal;
  font-size: 14px;;
  margin: 0;
  padding: 0;
  color: #353535;
}

header{
  padding: 2% 10% 2% 12%;
  display: flex;
  border-bottom: 1px solid #333333;
  .picture{
    background: url('water 1.jpg');
    width: 31px;
    height: 37px;
  }
}

.ant-menu-horizontal .ant-menu-item, .ant-menu-horizontal .ant-menu-submenu {
  margin-top: -2em !important;
}

.nav{
  margin-left: 3em;
}

.nav-menu{
  display: flex;
  li{
    padding: 0 2em 0 2em;
    list-style: none;
    text-align: center;
    line-height: 1.5rem;
  }
}

.nav,.logo{
  display: inline-block;
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu .ant-menu-submenu-title:hover,.ant-menu-item > .ant-menu-item-selected {
  color: #353535 !important;
  border-bottom: none !important;
  text-decoration: underline;
}


.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
  color: #353535 !important;
  border-bottom: none !important;
}

::selection{
  color:none;
  background: none;
}

.ant-menu-item, .ant-menu-submenu-title{
  transition: none !important;
  -webkit-transition: none !important;
}

.content{
  display: flex;
  div{
    transform: translate(8%, 15%);
  }
  p{
    padding-top: 15%;
    font-size: 48px;
    width: 500px;
  }
  button{
    margin-right: 2em;
    border: none;
  }
  .button-border{
    border: 1px solid #333333;
  }
  .picture{
    height: 346px;
    width: 566px;
    background: url('OBJECTS.jpg');
  }
}

.wrapper{
  display: flex;
}

.authorization{
  .ant-input{
    width:100% !important;
  }
  
  .ant-menu-horizontal {
    border-bottom: none !important;
  }
  
  .ant-form{
    max-width: 20em;
    margin: 10% 0 0 37% !important;
  }
  
  .ant-btn{
    width: 10em;
    margin-top: 1.5em;
  }
  
  .ant-form-item{
    margin-bottom:1em;
  }
}

.ant-btn, .ant-input{
  border: .5px solid #333333 !important;
} 

.registration{
  .ant-form-inline .ant-form-item > .ant-form-item-control-wrapper, 
  .ant-form-inline .ant-form-item > .ant-form-item-label{
    display: block !important;
  }

  .ant-col.ant-col-1{
    .ant-input{
      width: 40em !important;
    }

    .ant-col.ant-form-item-label{
      margin-left: 32%;
    }
  }

  .ant-input{
    width: 19.4em;
  }

  .ant-form{
    max-width: 50em;
    margin: 10% 0 0 23% !important;
  }

  .ant-form-item{
    margin-bottom:1em !important;
  }

  .ant-btn{
    width: 14em;
    margin-top: 1.5em;
  }

  .ant-col.ant-col-2{
    margin-left: 24%;
  }

  .ant-col.ant-form-item-label{
    float: left;
  }
}

.userProfile {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 2rem;

  .ant-avatar-icon {
    i {
      svg {
        font-size: 125px;
      }
    }
  }
}

.userInfo {
  width: 40%;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0 2rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.bloodTable {
  margin: 0 18rem;

  button {
    margin-right: 2rem;
  }
  .ant-table-body {
    a {
      color: #000;
    }
    font-weight: 350 !important;
  }

  .points {
    margin: 5rem 0;
  }


  .ant-btn:active, .ant-btn:hover, .ant-btn:visited {
    background-color: #333333;
    span {
      color: #fff;
    }
  }
}

.navButtons {
  margin: 1.5rem 0;
}

.donationPage {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  .selects {
    line-height: 6rem;
    text-align: center;
    width: 55%;
  }
}

.recepientPage {
  display: block;
  margin-top: 18rem;
}